@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Bienvenido", "sans-serif";
  src: url("../public/fonts/Bienvenido.otf");
  font-weight: normal;
  font-style: normal;
}